In [89]:
import pandas as pd

In [90]:
df = pd.read_csv("laptop_price_prediction.zip")

In [91]:
df.shape

(1275, 23)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1275 non-null   object
 1   Product               1275 non-null   object
 2   TypeName              1275 non-null   object
 3   Inches                1275 non-null   float64
 4   Ram                   1275 non-null   int64
 5   OS                    1275 non-null   object
 6   Weight                1275 non-null   float64
 7   Price_euros           1275 non-null   float64
 8   Screen                1275 non-null   object
 9   ScreenW               1275 non-null   int64
 10  ScreenH               1275 non-null   int64
 11  Touchscreen           1275 non-null   object
 12  IPSpanel              1275 non-null   object
 13  RetinaDisplay         1275 non-null   object
 14  CPU_company           1275 non-null   object
 15  CPU_freq              1275 non-null   float64
 16  CPU_model             1275 non-null   object
 17  PrimaryStorage        1275 non-null   int64
 18  SecondaryStorage      1275 non-null   int64
 19  PrimaryStorageType    1275 non-null   object
 20  SecondaryStorageType  1275 non-null   object
 21  GPU_company           1275 non-null   object
 22  GPU_model             1275 non-null   object
dtypes: float64(4), int64(5), object(14)
memory usage: 229.2+ KB

In [93]:
df['Product'].nunique()
#Therefore it is the id type column

618

# Target hai Priceineuros

In [94]:
df['Total_Storage'] = df['PrimaryStorage']+df['SecondaryStorage']

In [95]:
df['PrimaryStorageType'].unique()

array(['SSD', 'Flash Storage', 'HDD', 'Hybrid'], dtype=object)

In [96]:
df.head(2)

,Company,Product,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,ScreenW,...,CPU_company,CPU_freq,CPU_model,PrimaryStorage,SecondaryStorage,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model,Total_Storage
0,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1339.69,Standard,2560,...,Intel,2.3,Core i5,128,0,SSD,No,Intel,Iris Plus Graphics 640,128
1,Apple,Macbook Air,Ultrabook,13.3,8,macOS,1.34,898.94,Standard,1440,...,Intel,1.8,Core i5,128,0,Flash Storage,No,Intel,HD Graphics 6000,128

In [97]:
droped_col = ['Product','PrimaryStorage','SecondaryStorage','ScreenW','ScreenH']
df.drop(droped_col, axis=1,inplace= True)

In [98]:
df.head()

,Company,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,Touchscreen,IPSpanel,RetinaDisplay,CPU_company,CPU_freq,CPU_model,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model,Total_Storage
0,Apple,Ultrabook,13.3,8,macOS,1.37,1339.69,Standard,No,Yes,Yes,Intel,2.3,Core i5,SSD,No,Intel,Iris Plus Graphics 640,128
1,Apple,Ultrabook,13.3,8,macOS,1.34,898.94,Standard,No,No,No,Intel,1.8,Core i5,Flash Storage,No,Intel,HD Graphics 6000,128
2,HP,Notebook,15.6,8,No OS,1.86,575.00,Full HD,No,No,No,Intel,2.5,Core i5 7200U,SSD,No,Intel,HD Graphics 620,256
3,Apple,Ultrabook,15.4,16,macOS,1.83,2537.45,Standard,No,Yes,Yes,Intel,2.7,Core i7,SSD,No,AMD,Radeon Pro 455,512
4,Apple,Ultrabook,13.3,8,macOS,1.37,1803.60,Standard,No,Yes,Yes,Intel,3.1,Core i5,SSD,No,Intel,Iris Plus Graphics 650,256

In [99]:
df['PrimaryStorageType'].unique()

array(['SSD', 'Flash Storage', 'HDD', 'Hybrid'], dtype=object)

In [100]:
#Label Encode
label_map = {'Screen':{'Standard':0, 'Full HD':1, 'Quad HD+':2, '4K Ultra HD':3},
            'PrimaryStorageType':{'SSD':2, 'Flash Storage':3, 'HDD':0, 'Hybrid':1}}

In [101]:
df.replace(label_map,inplace=True)

In [102]:
df.select_dtypes(exclude='object').skew()

Inches               -0.438622
Ram                   2.698716
Weight                1.150804
Price_euros           1.511147
Screen                0.982464
CPU_freq             -0.838246
PrimaryStorageType   -0.724433
Total_Storage         1.057374
dtype: float64

In [112]:
df_ohe = pd.get_dummies(df)

In [113]:
df_ohe.shape

(1275, 262)

In [114]:
df_ohe

,Inches,Ram,Weight,Price_euros,Screen,CPU_freq,PrimaryStorageType,Total_Storage,Company_Acer,Company_Apple,...,GPU_model_Radeon R7 M440,GPU_model_Radeon R7 M445,GPU_model_Radeon R7 M460,GPU_model_Radeon R7 M465,GPU_model_Radeon R9 M385,GPU_model_Radeon RX 540,GPU_model_Radeon RX 550,GPU_model_Radeon RX 560,GPU_model_Radeon RX 580,GPU_model_UHD Graphics 620
0,13.3,8,1.37,1339.69,0,2.3,2,128,False,True,...,False,False,False,False,False,False,False,False,False,False
1,13.3,8,1.34,898.94,0,1.8,3,128,False,True,...,False,False,False,False,False,False,False,False,False,False
2,15.6,8,1.86,575.00,1,2.5,2,256,False,False,...,False,False,False,False,False,False,False,False,False,False
3,15.4,16,1.83,2537.45,0,2.7,2,512,False,True,...,False,False,False,False,False,False,False,False,False,False
4,13.3,8,1.37,1803.60,0,3.1,2,256,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,14.0,4,1.80,638.00,1,2.5,2,128,False,False,...,False,False,False,False,False,False,False,False,False,False
1271,13.3,16,1.30,1499.00,2,2.5,2,512,False,False,...,False,False,False,False,False,False,False,False,False,False
1272,14.0,2,1.50,229.00,0,1.6,3,64,False,False,...,False,False,False,False,False,False,False,False,False,False
1273,15.6,6,2.19,764.00,0,2.5,0,1024,False,False,...,False,False,False,False,False,False,False,False,False,False
1274,15.6,4,2.20,369.00,0,1.6,0,500,False,False,...,False,False,False,False,False,False,False,False,False,False

In [115]:
#Split X & Y
X = df_ohe.drop(['Price_euros'],axis=1)
Y = df_ohe['Price_euros']

In [109]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=7)

In [110]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((892, 261), (383, 261), (892,), (383,))

In [116]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

lr = LinearRegression()
lr.fit(X_train,Y_train)
Y_pred = lr.predict(X_test)

from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

r2_score(Y_test,Y_pred),mean_absolute_error(Y_test,Y_pred) , mean_squared_error(Y_test,Y_pred)
# mean_squared_error is not good for regression

(0.7727484028109833, 242.58795879123127, 120016.60843566056)

# Incase r2-score is negative

- observe the coefficient of linear Regression :: mostly they will be very high / very low values (-ve/+ve),
not close to zero.
- One reason of this :: target column and input column are normalised

# How to Normalise Target columns in regression
 - if target column is skewed :: use log transform
 
 - if not skewed then use standard scalar
 
 Y_sc = (Y-Y.mean())/Y.std()
 
 Y_sc.mean(),Y_sc.std()
 
 import numpy as np
 Y_log = np.log(Y)
 
 Y_log.min(),Y_log.max()

In [117]:
Y_test.mean() , Y_test.max() , Y_test.min()

(1138.0603655352481, 6099.0, 174.0)

In [119]:
ls = Lasso(alpha=10,random_state=7)
ls.fit(X_train,Y_train)
Y_pred = ls.predict(X_test)

r2_score(Y_test,Y_pred),mean_absolute_error(Y_test,Y_pred) , mean_squared_error(Y_test,Y_pred)

(0.7387927158078047, 269.517226401842, 137949.3598074133)

In [122]:
rd = Ridge(alpha=10000000,random_state=7)
rd.fit(X_train,Y_train)
Y_pred = rd.predict(X_test)

r2_score(Y_test,Y_pred),mean_absolute_error(Y_test,Y_pred) , mean_squared_error(Y_test,Y_pred)

(0.020797635094965905, 553.1157995593769, 517138.48554530734)